# Binaries for programs and plugins
go-server/*.exe
go-server/*.exe~
go-server/*.dll
go-server/*.so
go-server/*.dylib
go-server/*.gocache
go-server/tmp


# Test binaries, profiling, and coverage reports
go-server/*.test
go-server/*.out
go-server/*.prof
go-server/*.cgo1.go
go-server/*.cgo2.c
go-server/_cgo_defun.c
go-server/_cgo_gotypes.go
go-server/_cgo_export.*

# Compiled Object files, Static and Dynamic libs
go-server/*.o
go-server/*.a

# Folders
go-server/_obj
go-server/_test
go-server/bin/
go-server/.cache

# Environment files
go-server/.env

# Go workspace file
go-server/go.work
go-server/go.work.sum

# IDEs, Editors, and OS files (Leave these global so they work everywhere)
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
/client.pnp.*
/client.yarn/*
/!.yarn/patches
/client!.yarn/plugins
/client!.yarn/releases
/client!.yarn/versions

# testing
/client/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
