@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

body {
    font-family: "Roboto", sans-serif;

}



:root {

    /* --- Brand Colors --- */
    --primary: #6d28d9;
    --primary-hover: #5b21b6;
    --primary-light: #ede9fe;

    --secondary: #10b981;
    --accent: #f59e0b;
    /* Best for ratings/luxury icons */

    /* --- Light Mode Semantics --- */
    --bg-main: #ffffff;
    --bg-surface: #f9fafb;
    --text-main: #111827;
    --text-muted: #4b5563;
    --border: #e5e7eb;

    /* --- Status Colors --- */
    --error: #ef4444;
    --success: #10b981;
    --info: #3b82f6;
}

/* Dark Mode Overrides */
[data-theme='dark'] {
    --bg-main: #0f172a;
    /* Deep Navy/Slate */
    --bg-surface: #1e293b;
    --text-main: #f9fafb;
    --text-muted: #9ca3af;
    --border: #334155;

    /* Adjusting violet for dark mode to ensure pop */
    --primary: #8b5cf6;
    --primary-hover: #a78bfa;
    --primary-light: rgba(139, 92, 246, 0.1);
}

@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@layer {
    .head-1 {
        @apply text-2xl font-bold
    }
}